#wrapper
{
	height: 100%
	width: 100%;
	background: #ccc;

}

#header
{
	width: 100%;
	height: 50px;
	background: #ddd;
	text-align: center;
	

}

#menu
{
	height: 100%;
	width: 100px;
	float: left;
	background: #ddd;
	text-align: center;

}

#content
{
	float: left;
	margin: 20px;	


}
